@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="wrapper">
    <div class="wrapper">
        <header>
            <h1>Awesome compay</h1>
        </header>
        <nav>
            <a href="">option 1</a>
            <a href="">option 1</a>
            <a href="">option 1</a>
        </nav>
        <section>
            <main>
                <article>
                    <img src="https://source.unsplash.com/random/800x400" alt="">
                    <h2>Jätteintressant rubrik 1</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi accusantium debitis numquam fugit dolores ab, harum facilis earum recusandae laborum laboriosam dicta corporis possimus, ea veritatis totam ducimus voluptate illum.</p>
                    <p>Reprehenderit, iusto consectetur ipsa fugiat animi nulla fugit sunt enim? Recusandae temporibus, ipsam unde eligendi illum magni, modi consequatur fugit dolorem iure perspiciatis? Earum dignissimos, obcaecati tenetur voluptatem nam velit!</p>
                    <p>Aliquid, aperiam a dolorum modi id quasi ad fugit minima saepe harum at facere obcaecati accusamus labore! Iste, maxime perspiciatis tenetur neque distinctio laborum, optio voluptate modi natus, accusamus fugit.</p>
                </article>
                <article>
                    <img src="https://source.unsplash.com/random/800x400" alt="">
                    <h2>Jätteintressant rubrik 2</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam nulla ab iusto recusandae magni provident! Expedita magnam sequi nihil animi, commodi quidem, laboriosam rem eum illum iste accusamus, tempore voluptates!</p>
                    <p>Iusto reiciendis eos nobis labore ex suscipit molestias quis quo at exercitationem quaerat eius repudiandae velit soluta natus cumque facere quisquam impedit, non vitae. Reiciendis placeat culpa ab alias magnam.</p>
                    <p>Itaque error, quis nostrum cumque architecto iure aliquid corrupti distinctio porro et laborum impedit quod consequatur dolorum inventore dignissimos maiores quo accusamus voluptas aliquam aspernatur id fugit! Amet, dolore fugit.</p>
                </article>
                <article>
                    <img src="https://source.unsplash.com/random/800x400" alt="">
                    <h2>Jätteintressant rubrik 3</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium, voluptatem deserunt minus odio cumque laboriosam veniam ab reiciendis? A magnam dolores voluptatibus omnis laborum autem recusandae assumenda ea incidunt fugiat.</p>
                    <p>At, dolore illum eos vitae ducimus totam, autem quia iure dolorem tempora quae dignissimos ab officiis quibusdam nihil architecto sequi quis? Tenetur, at. Tenetur, dolore velit debitis architecto ut quasi!</p>
                    <p>Iusto tenetur assumenda adipisci sapiente optio soluta, ducimus tempore a fugiat ex veritatis eius deleniti magni ad dolore quibusdam est aut necessitatibus? Quasi omnis libero nemo in ipsa minima unde.</p>
                </article>
                <article>
                    <img src="https://source.unsplash.com/random/800x400" alt="">
                    <h2>Jätteintressant rubrik 4</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum earum, ipsum obcaecati, eum tenetur ea minus molestias harum consequatur odit explicabo facere sint necessitatibus. Qui repellendus exercitationem magnam consequuntur obcaecati?</p>
                    <p>A minus commodi possimus beatae non dignissimos. Ut blanditiis eaque, eveniet dolor est eos tempora, quasi impedit iure reiciendis ullam placeat tenetur excepturi aspernatur. Praesentium adipisci molestiae vel. Voluptatum, assumenda.</p>
                    <p>Nostrum soluta iure sed deleniti quisquam animi asperiores quasi doloribus recusandae consequuntur molestias beatae ullam aliquam sit labore possimus ea est consequatur, tenetur quae doloremque! Ipsa doloribus excepturi rem sequi.</p>
                </article>
                <article>
                    <img src="https://source.unsplash.com/random/800x400" alt="">
                    <h2>Jätteintressant rubrik 5</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam eligendi excepturi, velit suscipit odio minus soluta corporis nesciunt officiis consequatur pariatur quam sequi dicta illo tempora id. Blanditiis, praesentium in.</p>
                    <p>Quisquam quasi eligendi ullam expedita atque molestias aliquid. Earum voluptatem corrupti praesentium, quisquam iste, nam quasi quod ex iure minima totam excepturi qui minus, modi harum obcaecati culpa officia esse.</p>
                    <p>Eius, consequatur recusandae perferendis mollitia veniam quasi, autem quidem impedit iure, aperiam error ea aliquid ad deserunt atque minima laudantium cum molestias praesentium quo a! Laudantium reprehenderit amet qui beatae!</p>
                </article>
            </main>
            <aside>
                <article>reklam</article>
                <article>reklam</article>
                <article>reklam</article>
            </aside>
        </section>
        <section class="gallery">
            <article>
                <img src="https://source.unsplash.com/random/400x300" alt="">
                <h3>Påhittad rubrik</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur, rerum corporis, dolorum pariatur alias iure animi deserunt perspiciatis sequi omnis reprehenderit qui in repudiandae numquam excepturi saepe adipisci recusandae molestiae?</p>
                <a href="" class="btn large">Take my money!</a>
            </article>
            <article>
                <img src="https://source.unsplash.com/random/400x300" alt="">
                <h3>Påhittad rubrik</h3>
                <p>Veniam aliquid quae, est odit consectetur quod atque aperiam iusto pariatur alias magnam, illo minima. Cumque voluptatibus porro possimus excepturi tempora repellendus quasi fugit aliquid! Error quae quibusdam dolorem molestiae.</p>
                <a href="" class="btn">Buy me!</a>
            </article>
            <article>
                <img src="https://source.unsplash.com/random/400x300" alt="">
                <h3>Påhittad rubrik</h3>
                <p>As nam reiciendis nulla minus culpa accusantium.</p>
                <a href="" class="btn large alert">Buy me!</a>
            </article>
        </section>
        <footer>
            <article>art 1</article>
            <article>art 2</article>
            <article>art 3</article>
        </footer>
    </div>
</div>
