@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="wrapper2">
    <header>
        <h1>
            Sinus Skateboards
            <img src="~/imgs/logos/sinus-logo-landscape -  small.png" />
        </h1>
    </header>
    <nav>
        <a href="/Index">Home</a>
        <a href="/Privacy">
            <span class="material-icons-outlined">
                shopping_cart
            </span>
        </a>
    </nav>
    <section>
        <main>
            @foreach (var product in Model.Products)
            {
                <img src="https://source.unsplash.com/random/800x400" alt="">
                <h2>Jätteintressant rubrik 1</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi accusantium debitis numquam fugit dolores ab, harum facilis earum recusandae laborum laboriosam dicta corporis possimus, ea veritatis totam ducimus voluptate illum.</p>
                <p>Reprehenderit, iusto consectetur ipsa fugiat animi nulla fugit sunt enim? Recusandae temporibus, ipsam unde eligendi illum magni, modi consequatur fugit dolorem iure perspiciatis? Earum dignissimos, obcaecati tenetur voluptatem nam velit!</p>
                <p>Aliquid, aperiam a dolorum modi id quasi ad fugit minima saepe harum at facere obcaecati accusamus labore! Iste, maxime perspiciatis tenetur neque distinctio laborum, optio voluptate modi natus, accusamus fugit.</p>
            }
        </main>
        <aside>
            <p>Clothes</p>
            <p>Skateboarding</p>
        </aside>
    </section>
    @*<section class="gallery">
            <article>
                <img src="https://source.unsplash.com/random/400x300" alt="">
                <h3>Påhittad rubrik</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur, rerum corporis, dolorum pariatur alias iure animi deserunt perspiciatis sequi omnis reprehenderit qui in repudiandae numquam excepturi saepe adipisci recusandae molestiae?</p>
                <a href="" class="btn large">Take my money!</a>
            </article>
            <article>
                <img src="https://source.unsplash.com/random/400x300" alt="">
                <h3>Påhittad rubrik</h3>
                <p>Veniam aliquid quae, est odit consectetur quod atque aperiam iusto pariatur alias magnam, illo minima. Cumque voluptatibus porro possimus excepturi tempora repellendus quasi fugit aliquid! Error quae quibusdam dolorem molestiae.</p>
                <a href="" class="btn">Buy me!</a>
            </article>
            <article>
                <img src="https://source.unsplash.com/random/400x300" alt="">
                <h3>Påhittad rubrik</h3>
                <p>As nam reiciendis nulla minus culpa accusantium.</p>
                <a href="" class="btn large alert">Buy me!</a>
            </article>
        </section>*@
    <footer>
        <article>art 1</article>
        <article>art 2</article>
        <article>art 3</article>
    </footer>
</div>
