@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="wrapper2">
    <header>
        <h1>
            Sinus Skateboards
            <img src="~/imgs/logos/sinus-logo-landscape -  small.png" />
        </h1>
    </header>
    <nav>
        <a href="/Index">Home</a>
        <a href="/Privacy">
            <span class="material-icons-outlined">
                shopping_cart
            </span>
        </a>
    </nav>
    <section>
        <main>
            <article>
                <img src="~/imgs/home_img.jpg" alt="">
                <h2>We love skateboarding!</h2>
                <p>Check out our products, we got t-shirts, hoodies, caps, boards and wheels all in good quality and fair prices</p>
            </article>
        </main>
        <aside>
            <h4>Clothes</h4>
            <a href="/Index">T-shirts</a>
            <a href="/Index">Hoodies</a>
            <a href="/Index">Caps</a>

            <h4>Skateboarding</h4>
            <a href="/Index">Boards</a>
            <a href="/Index">Wheels</a>
        </aside>
    </section>
    @*<section class="gallery">
            <article>
                <img src="https://source.unsplash.com/random/400x300" alt="">
                <h3>Påhittad rubrik</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur, rerum corporis, dolorum pariatur alias iure animi deserunt perspiciatis sequi omnis reprehenderit qui in repudiandae numquam excepturi saepe adipisci recusandae molestiae?</p>
                <a href="" class="btn large">Take my money!</a>
            </article>
            <article>
                <img src="https://source.unsplash.com/random/400x300" alt="">
                <h3>Påhittad rubrik</h3>
                <p>Veniam aliquid quae, est odit consectetur quod atque aperiam iusto pariatur alias magnam, illo minima. Cumque voluptatibus porro possimus excepturi tempora repellendus quasi fugit aliquid! Error quae quibusdam dolorem molestiae.</p>
                <a href="" class="btn">Buy me!</a>
            </article>
            <article>
                <img src="https://source.unsplash.com/random/400x300" alt="">
                <h3>Påhittad rubrik</h3>
                <p>As nam reiciendis nulla minus culpa accusantium.</p>
                <a href="" class="btn large alert">Buy me!</a>
            </article>
        </section>*@
    <footer>
        <article><a href="/Index">About</a></article>
        <article>art 2</article>
        <article>art 3</article>
    </footer>
</div>
