@page
@model SinusSkateboards.Pages.EditModel

<div class="wrapper2">
    <header>
        <h1>
            Sinus Skateboards
            <img src="~/imgs/logos/sinus-logo-landscape -  small.png" />
        </h1>
    </header>
    <section>
        <main>
            <article>
                <h4>Product</h4>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <form method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Product.ProductId" />
                            <div class="form-group">
                                <label asp-for="@Model.Image" class="control-label"></label>
                                <input asp-for="@Model.Image" class="form-control"/>
                                <span asp-validation-for="Product.Image" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Product.Title" class="control-label"></label>
                                <input asp-for="Product.Title" class="form-control" />
                                <span asp-validation-for="Product.Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Product.Description" class="control-label"></label>
                                <input asp-for="Product.Description" class="form-control" />
                                <span asp-validation-for="Product.Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Product.Color" class="control-label"></label>
                                <input asp-for="Product.Color" class="form-control" />
                                <span asp-validation-for="Product.Color" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Product.Price" class="control-label"></label>
                                <input asp-for="Product.Price" class="form-control" />
                                <span asp-validation-for="Product.Price" class="text-danger"></span>
                            </div>

                            @if (!Model.Product.Title.Contains("Skateboard"))
                            {
                                <img src="~/imgs/products/@Model.Product.Image" style="max-width:250px;position:fixed;top:200px;right:990px;" />
                            }
                            else
                            {
                                <img src="~/imgs/products/@Model.Product.Image" style="max-width:100px;position:fixed;top:200px;right:1060px;" />
                            }

                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                    <a asp-page="/Admin/Crud">Back to List</a>
                </div>
            </article>
        </main>
        <aside>
            <h4>Clothes</h4>
            <a href="/T-shirts">T-shirts</a>
            <a href="/Hoodies">Hoodies</a>
            <a href="/Caps">Caps</a>

            <h4>Skateboarding</h4>
            <a href="/Boards">Boards</a>
            <a href="/Wheels">Wheels</a>
        </aside>
    </section>

    <footer>
        <article>
            &copy; 2021 - Sinus Skateboards</p>
            <a href="/About">About</a>
        </article>
    </footer>
</div>