@page
@model SinusSkateboards.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Index";
}

<a class="btn btn-primary" asp-page="/Admin/Crud">Create/Delete/Edit products</a>

<a class="btn btn-primary" asp-page="/Admin/Account">Manage account</a>

<form method="post">
    <button class="btn btn-outline-danger">Sign out</button>
</form>
